<div class="container-fluid bg-atualizarTema">
  <div class="container">

    <!--<div class="row d-flex justify-content-end">
      <div class="col-md-12 mt-5 mb-4 ">
        <h1 class=" text-center text-dark font-weight-bold">Apagar Postagem</h1>
      </div>
    </div>-->

    <div class="row d-flex justify-content-end ">
      <div class="col-md-12  mt-5 mb-5 ">
       <h4 class=" text-center text-dark font-weight-bold">
         Voce tem certeza que deseja apagar essa postagem?
       </h4>
      </div>
    </div>

    <div class="card bg-card-delete lg-post ml-5 mb-3 bg-login02" style=border-radius:25px; >
      <div class="card-body text-secondary">
        <div class=" d-flex mt-2 justify-content-start align-items-center">                 
          <div >                   
            <img class="imgUser mr-3 " src="{{foto}}" alt="" width="35px" height="35px" class="img-fluid rounded-circle">                 
          </div>                 
          <h6 class='ml-2 text-white'>{{nome}}
          </h6>                           
        </div>
        <h5 class="card-title mt-3 mb-3 text-white">{{postagem.titulo}}</h5>
       
        <p class="card-text mb-3 text-white">{{postagem.texto}}</p>
       
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center mb-5">
        <button class="btn-danger w-25 mr-3" routerLink='/pagina-inicial'>Nao</button>
        <button class="btn-info w-25 " (click)='apagar()' >Sim</button>
      </div>
    </div>

  </div>
</div>