<div class="container-fluid fundo">
  <div class="container">
    <div class="row ">

    <!--MENU LATERAL-->
      <div class="col-4 mt-5 ">
        <div class="card bg-postagens bg-transparente-menu mb-2 ml-3" style=border-radius:25px; >
          <div class="row  mt-3 mb-3 mt-3">
            <div class="col-md-12   ">
              <div class="text-center">                 
                <div >                   
                  <img class="imgUser mr-3 " src="{{foto}}" alt="" width="50px" height="50px" class="img-fluid rounded-circle">                 
                </div>                 
                <h6 class='mt-2 text-white'>{{nome}}</h6>                                
              </div>
              <div class=" text-center">
                <button class="btn w-75 bg-bt-post text-white mb-2 mt-3" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                <a class="btn w-75 bg-bt-forum text-white" data-toggle="modal" 
                [(ngModel)]='forum' ((click))='findByForumTema()'
                data-target="#novoForum">Fórum</a>
                </div>
            </div>
          </div>
        </div>
        <div class="card bg-postagens bg-transparente-menu mt-3 ml-3 mb-3" style=border-radius:25px; >
          <div class="row mt-3 ">
            <div class="col-md-12 mt-3 mb-4 ">

              <nav *ngIf='listaPostagens.length != 0'>
                <div class="nav flex-column av-pills d-flex justify-content-center" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link text-light mt-2 mb-2 text-center font-weight-bold"
                    id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab"
                    aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>    
                  <a (click)='findByIdUsuario()'
                    class="nav-item nav-link text-light mt-2 mb-2 text-center font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab"
                    href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
                    Postagens</a>
                  <a class="nav-item nav-link text-light mt-2 mb-2 text-center font-weight-bold"
                    id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema"
                    aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Implementacao Futura">Forum</a>
                  <a class="nav-item nav-link text-light mt-2 mb-2 text-center font-weight-bold"
                  id="" data-toggle="tab" href="" role="tab"
                  aria-controls="nav-todasPostagens" aria-selected="true"
                  data-bs-toggle="tooltip" data-bs-placement="right" title="Implementacao Futura">Mensagens</a>    
                  <a (click)='findByIdUsuario()'
                  class="nav-item nav-link text-light mt-2 mb-2 text-center font-weight-bold" id="" data-toggle="tab"
                  href="" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false"
                  ata-bs-toggle="tooltip" data-bs-placement="right" title="Implementacao Futura">Grupos</a>
                  <a class="nav-item nav-link text-light mt-2 mb-2 text-center font-weight-bold"
                  id="" data-toggle="tab" href="" role="tab" aria-controls="nav-postagemTema"
                  aria-selected="false"
                  ata-bs-toggle="tooltip" data-bs-placement="right" title="Implementacao Futura">Conexoes</a>  
                  
                </div>
              </nav>

            </div>
          </div>
        </div>
      </div>  
      <!--/MENU LATERAL-->

      <!--TODAS AS POSTAGENS-->
      <div class="col-8">
        <div class="container mb-5 mt-5" id="postagens">
        <div class="tab-content mt-5" id="nav-tabContent">
          <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
            <div class="row">
              <div class="col-md-12 ">
                      <div class="card bg-postagens mb-3" style=border-radius:25px;
                      *ngFor='let item of listaPostagens | orderBy: key : reverse '>                      
                          <div class="card-body text-white">
                            <div class=" d-flex mt-2 justify-content-start align-items-center">                 
                              <div >                   
                                <img class="imgUser mr-3 " src="{{item.usuario.foto}}" alt="" width="35px" height="35px" class="img-fluid rounded-circle">                 
                              </div>                 
                              <h6 class='ml-2 text-white'>{{item.usuario.nome}}<br>
                                <p class="card-text "><small class="text-light">{{item.data}}</small></p> 
                              </h6>                           
                            </div>
                            <h5 class="card-title text-center m-0">{{item.titulo}}</h5>
                          <!-- <small class="text-muted"> Tema: {{item.tema.publicacao}}</small> --> 
                            <p class=" mt-3 text-justify">{{item.texto}}</p>
                          </div>
                      </div>
              </div>
            </div>
          </div>
          <!--/TODAS AS POSTAGENS-->

          <!--MINHAS POSTAGENS-->
          <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
            

            <div class="card mb-3 bg-postagens" style=border-radius:25px; *ngFor='let item of usuario.postagem | orderBy: key : reverse'>

              <div class="card-body text-white">

                <div class="card-body text-white">
                    <div class=" d-flex mt-2 justify-content-start align-items-center">                 
                      <div >                   
                        <img class="imgUser mr-3 " src="{{foto}}" alt="" width="35px" height="35px" class="img-fluid rounded-circle">                 
                      </div>                 
                      <h6 class='ml-2 text-white'>{{nome}}<br>
                        <p class="card-text "><small class="text-light">{{item.data}}</small></p> 
                      </h6>                           
                    </div>

                    <h5 class="card-title m-0 text-center">{{item.titulo}}</h5>
                    <!--<small class="text-muted"> Tema: {{item.tema.forum}}</small>-->
                    <p class="mt-3 text-justify">{{item.texto}}</p>

                    <div class="text-center">
                      <a [routerLink]="['/postagem-edit', item.id]" class="cor-novapost text-center mr-3" href="">Editar</a>
                      <a [routerLink]="['/postagem-delete', item.id]" class="cor-cancel text-center" href="">Apagar</a>
                    </div>
                </div>
              </div>  
            </div>
          </div>
          <!--/MINHAS POSTAGENS-->

          <!--Forum-->
          <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
            <div class="row d-flex justify-content-center">
              <div class="col-md-4">
              </div>
            </div>
            <div style=border-radius:25px; *ngFor='let tema of listaTemas'>
              <div class="card mb-3 bg-postagens" style=border-radius:25px; *ngFor='let item of tema.postagem | orderBy: key : reverse'>
                <div class="card-body text-white" >
                  <div class=" d-flex mt-2 justify-content-start align-items-center">                 
                    <div >                   
                      <img class="imgUser mr-3 " src="{{item.usuario.foto}}" alt="" width="35px" height="35px" class="img-fluid rounded-circle">                 
                    </div>                 
                    <h6 class='ml-2 text-white'>{{item.usuario.nome}}<br>
                      <p class="card-text "><small class="text-light">{{item.data}}</small></p> 
                    </h6>                           
                  </div>
                  <h5 class="card-title m-0 text-center mb-2">{{item.titulo}}</h5>
                  <p class="mt-3 text-justify">{{item.texto}}</p>
                  <div class="text-center">
                    <a  class="cor-novapost cor-novapost text-center mt-2 mr-3" href="">Respoder</a>
                    <a  class="cor-resp text-center mt-2 " href="">Visualizar respostas</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/FORUM-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL POSTAGEM -->
<div class="modal fade bg-transparente" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-postagens" role="document">
    <div class="modal-content bg-postagens">

      <div class="modal-header">
        <h5 class="modal-title text-white" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label class="text-white" for="titulo ">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título">
        </div>

        <div class="form-group text-white">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group text-white">
          <label for="texto">Escolha um tema ou <a class="text-links-nav" data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
          </label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">
              {{item.publicacao}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer text-white">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
<!-- /MODAL POSTAGEM -->

<!-- MODAL FORUM -->
<div class="modal fade bg-transparente" id="novoForum" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-postagens" role="document">
    <div class="modal-content bg-postagens">

      <div class="modal-header">
        <h5 class="modal-title text-white" id="TituloModalCentralizado">Nova Pergunta do Forum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label class="text-white" for="titulo ">Assunto</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite sua pergunta">
        </div>

        <div class="form-group text-white">
          <label for="texto">Digite uma pergunta:</label>
          <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group text-white">
          <label for="texto">Escolha um forum ou <a data-dismiss="modal" routerLink='/tema' class="cor-novapost">cadastre um novo</a>:
          </label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">
              {{item.forum}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer text-white">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>




</div>
<!-- /MODAL FORUM -->
