/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #dee0e0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;



  /*  Fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-front-smoothing: antialiased;
}

.title {
  font: 700 1.875rem var(--title-font);
  color: var(--title-color);
  -webkit-front-smoothing: auto;
}

.button {
  background-color: #5c4f79;
  color: #f4f3f7;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: backgroud 0.3s;
}

.button:hover {
  background: #5c4f79;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 36%, 57%, 1),
      hsla(var(--hue), 65%, 88%, 0.34));
}

.divider-2 {
  height: 1px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 65%, 88%, 0.34),
      hsla(var(--hue), 36%, 57%, 1));
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}



.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}



.section header strong {
  color: var(--base-color);
}


/*====  HOME ============================ */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #5c4f79;
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
  width: 400px;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/* ================== About ======================== */

/*======= Services ==============*/
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(169, 90, 206, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

#icon i {
  font-size: 128px;
  animation: size 4s infinite 1s;
}

@keyframes size {
  0% {
    font-size: 128px;
  }

  20% {
    font-size: 100px;
  }

  40% {
    font-size: 80px;
  }

  60% {
    font-size: 60px;
  }

  80% {
    font-size: 40px;
  }

  100% {
    font-size: 20px;
  }
}



/*======= Responsivo ==============*/
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 6rem 0;
  }

  .button {
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .icon-menu {
    display: none;
    width: fit-content;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    width: fit-content;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 2;
  }

  #home .text {
    order: 1;
    max-width: 24rem;
    text-align: left;
  }

  /* About */
  #about .container {
    grid-auto-flow: column;
    width: fit-content;
    justify-content: space-between;
    margin: 0 auto;
  }

  /* Services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }



}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.25rem;
  }
}