<main>
  <!---- Home ------->
  <section class="section" id="home">
    <div class="container grid">
      <div class="image">
        <img
          src="https://i.ibb.co/dDNXqkK/Mee-Too-7.png"
          alt="Logo metoo"
        />
      </div>
      <div class="text">
        <h2 style="font-size: 24px;" class="title"> <span class="title" style="font-size: 28px;">MeToo </span> a rede social feita para mulheres.</h2>
        <p style="font-size: 24px;">
          Expressando emoções através da escrita.
        </p>
        <a class="button" routerLink="/entrar">Acesse ou crie sua conta</a>
      </div>
    </div>
  </section>

  <!------ Services ------->
  <section class="section" id="services">
    <div class="container grid">
      <header>
        <h2 class="text-dark text-center font-weight-bolder">Time de Programadores</h2>
        
      </header>
      <div class="cards grid">
        <div class="card">
          <img src="https://i.imgur.com/ryUUfis.png" alt="Pessoa desenvolvedora, , cabelos pretos, pardo">
          <h3 class="title mt-2">Paulo Carvalho</h3>
          <p class="">
            Desenvolvedor Full Stack Java, parte do time de programadores da rede social MeToo. Rei do Back e do Front.
          </p>
          <div class="d-flex justify-content-center mt-2">
            <a href="https://www.linkedin.com/in/thamires-pereira-araujo/">
              <i class="fa fa-linkedin-square mr-2" style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/Thamirespa">
              <i class="fa fa-github"  style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/E2bSLLu.jpg" alt="Pessoa desenvolvedora, mulher, cabelos cacheado preto, negra">
          <h3 class="title">Thamires Araujo</h3>
          <p>
            Desenvolvedora de software com ampla experiência administrativa e secretarial. Integrante da equipe Metoo como Scrum Master.
          </p>
          <div class="d-flex justify-content-center mt-2">
            <a href="https://www.linkedin.com/in/thamires-pereira-araujo/">
              <i class="fa fa-linkedin-square mr-2" style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/Thamirespa">
              <i class="fa fa-github"  style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/qchUhvN.jpg" alt="Pessoa desenvolvedora, homem, cabelos pretos, branco">
          <h3 class="title">Wagner Carmo</h3>
          <p>
            29 anos. Formado em administração de empresas. Atualmente em transição de carreira para a área de programação.
          </p>
          <div class="d-flex justify-content-center mt-2">
            <a href="https://www.linkedin.com/in/thamires-pereira-araujo/">
              <i class="fa fa-linkedin-square mr-2" style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/Thamirespa">
              <i class="fa fa-github"  style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="card">
          <img src="https://i.imgur.com/ERsSp7O.jpg" alt="Pessoa desenvolvedora, mulher, cabelos castanho, parda">
          <h3 class="title mt-2">Priscila Camisao</h3>
          <p class="">
            Desenvolvedora Full Stack Java Jr, 25 anos, graduada em Administração. Atualmente me encontro em transição de carreira.
          </p>
          <div class="d-flex justify-content-center mt-2">
            <a href="https://www.linkedin.com/in/priscila-camisão-11163918a">
              <i class="fa fa-linkedin-square mr-2" style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-github"  style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>  
          </div>
        </div>
        <div class="card">
          <img src="https://i.ibb.co/L9QMzYh/90a2b5ea-18f8-41f4-a9e4-e310859753c3.jpg" alt="Pessoa desenvolvedora, homem, cabelos preto, negro ">
          <h3 class="title">Weslley Santos</h3>
          <p>
            20 anos, estou graduando bacharel em Psicologia e  recém formado em desenvolvedor web full stack, comunicativo e criativo.
          </p>
          <div class="d-flex justify-content-center mt-2">
            <a href="https://www.linkedin.com/in/weslleysantosw/">
              <i class="fa fa-linkedin-square mr-2" style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/weslleyyellsew">
              <i class="fa fa-github"  style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/3FxjnCt.jpg" alt="Pessoa desenvolvedora, homem, cabelos preto, pardo">
          <h3 class="title">Rafael Lima</h3>
          <p>
            Desenvolvedor Java Jr em formação, com amplo conhecimento em hardware.
          </p>
          <div class="d-flex justify-content-center mt-2">
            <a href="https://www.linkedin.com/in/rafael-lima-21322a158/">
              <i class="fa fa-linkedin-square mr-2" style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/rafaelima69">
              <i class="fa fa-github"  style="font-size: 2.5rem;" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        
      </div>
      
    </div>
  </section>

  <div class="divider-1"></div>
</main>