@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Merienda&family=Poiret+One&family=Poppins:wght@100;300&family=Red+Hat+Mono&display=swap');


#bg {
    background-image: url(https://i.ibb.co/X5JWfNH/Mee-Too-4.png);
    min-height: 695px;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#tela-login {
    width: 500px;
    height: 610px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px #74C1B2;

    background-color: #4ca0a7;
    ;
    opacity: 0.95;

}

.bg-transparente {
    background: rgba(0, 0, 0, 0.1);
}

.bg-bt-forum {
    background-color: rgb(52, 181, 151);
    ;
}

.cor-cancel {
    background-color: #fb7f7f;
}