.bg-atualizarTema {
  background-image: url(https://i.imgur.com/LFT96Iz.png);


  min-height: 400px;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}