.bg-atualizarTema {
  background-image: url(https://i.ibb.co/H2wG3Kd/Mee-Too-6.png);


  min-height: 350px;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}



.bx-form {
  box-shadow: 1px 5px 10px #dfafee;
}


.ng{
  
}